html, body {
  overflow: auto;
}

body {
  align-items: center;
  /* background-color: #333; */
  background-color: #232323;
  color: #c3c3c3;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  min-height: calc(100vh);
}

.rainbow {
  background-image: linear-gradient( 135deg, #EEAD92 10%, #6018DC 100%);
}

h1 {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
}

h2 {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin: 20px 0 10px 0;
}

a {
  color: #c33eb3;
  text-decoration: none;
}

a:hover {
  color: #d3d3d3;
  text-decoration: none;
}

article {
  font-size: 21px;
  line-height: 1.58;
}

@media only screen and (max-width: 600px) {
  article {
    padding: 0 14px;
  }
}

p {
  margin-bottom: 40px;
  margin-top: 0;
}

code {
  font-family: monospace;
}

.highlighter-rouge {
  margin-bottom: 40px;
}

figure {
  margin-bottom: 40px;
}

pre {
  background-color: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  margin-top: 0;
  max-width: 100%;
  overflow-x: scroll;
  padding: 1.2rem;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  width: 100%;
}

.container {
  max-width: 700px;
  padding-top: 100px;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding-top: 60px;
  }
}

a.site-logo {
  text-decoration: none;
}

.navigation-wrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  padding-left: 20px;
}

.site-logo {
  justify-content: left;
  background-image: url('/images/r_logo.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

.navigation {
  font-family: 'Lato';
  display: flex;
  height: 70px;
}

.navigation-item {
  display: flex;
  margin-right: 10px;
}

.navigation-item a {
  display: flex;
  text-decoration: none;
  color: #4a4a4a;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  font-size: 13px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.navigation-item:hover {
  background-color: #f8f8f8;
}

.section-title {
  margin-bottom: 90px;
}

/* Home Page */

.profile-page,
.home {
  margin-top: 3em;
}

.hero {
  background-color: #e8e8e8;
  padding: 4rem 2rem 2rem 2rem;
}

.short-bio {
  color: #4a4a4a;
  font-size: 1.6rem;
}

.short-bio-name {
  font-weight: 800;
}

.skills {
  margin-top: 3rem;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
}

.skill {
  margin-right: 4rem;
  text-align: center;
}

.skill-icon {
  height: 5rem;
  width: 5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.skill-icon--ruby {
  background-image: url('/images/ruby-icon.png');\
}

.skill-icon--js {
  background-size: 80%;
  background-image: url('/images/js-icon.png');\
}

.skill-icon--java {
  background-image: url('/images/java-icon.png');\
}

.skill-icon--sql {
  background-size: 70%;
  background-image: url('/images/sql-icon.png');\
}

/* Blog */

.post-title a {
  color: #fff;
  padding-bottom: 10px;
}

.post {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .post {
    margin: 0;
  }
}

.post-header {
  margin-bottom: 1.5em;
}

.post-date {
  color: #999;
  font-size: 15px;
}

.post-list {
  list-style: none;
  -webkit-padding-start: 0;
}

.post-list li {
  margin-bottom: 50px;
}

.read-more-posts {
  display: block;
  margin-top: 1.4em;
}


/* Projects */

.sort-wrapper {
  height: 15rem;
  display: flex;
  align-items: flex-end;
}

.sort-column {
  flex: 1;
  margin-left: 1rem;
  background-color: orange;
}

.sort-column__altered {
  background: red;
}


/* Footer */

.contact-links {
  color: #fff;
  display: flex;
  justify-content: center;
}

.contact-link {
  color: #fff;
  font-size: .8rem;
  margin-right: 2rem;
}

.contact-link:last-child {
  margin-right: 0;
}

a.contact-link:hover {
  text-decoration: underline;
}

footer {
  margin-top: 3em;
  padding-bottom: 2em;
}

.front-page__container {
  color: #fff;
  padding: 15% 10%;
}

.front-page__name {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
}

.front-page__short-description {
  padding-top: 20px;
  font-weight: 200;
  font-size: 25px;
}
