body {
  margin: 0;
}

header {
  background: #efefef;
  margin-bottom: 3rem;
}

.navigation {
  line-height: 3rem;
  list-style: none;
  width: 100%;
}

.navigation li {
  float: right;
  margin-right: 1rem;
}

.navigation li a {
  color: #888;
  text-decoration: none;
}

/* Blog */

.post-list {
  list-style: none;
  -webkit-padding-start: 0;
}

.post-list li {
  margin-bottom: 1rem;
}

.github-logo {
  width: 3rem;
}

footer {
  margin-top: 3rem;
}
